<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Henny+Penny|Kranky' rel='stylesheet' type='text/css'>
    <link href="style.css" rel="stylesheet">
    <title>Seconds-Guess</title>
    <script data-main="scripts/main" src="scripts/ext_libs/require.js"></script>
</head>
<body>
    
    <div id="game"></div>
    
    
    
    
    <div id="templates" style="display: none;">
        
        <script id="mainTemplate" type="text/template">
            <div id="home" class="main step" data-x="0" data-y="0">
                <h1>Seconds-Guess</h1>
                <div class="credits">A game written by <%= email %></div>
                <div class="button playCombo">Play combo mode</div>
                <div class="button gotoLevels">Practice</div>
                <div class="button gotoScores">Scores</div>
            </div>
            <div id="levels" class="main step" data-x="800" data-y="400" data-rotate="30"></div>
            <div id="scores" class="main step" data-x="-1300" data-y="300" data-rotate="-90" data-scale="2"></div>
            <div id="comboEnd" class="main step" data-x="2000" data-y="0"></div>
            <div id="levelScreen_0" class="step level" data-x="400" data-y="-300" data-rotate="50" data-scale="0.1"></div>
            <div id="levelScreen_1" class="step level" data-x="600" data-y="-200" data-rotate="-30" data-scale="0.2"></div>
            <div id="levelScreen_2" class="step level" data-x="900" data-y="-100" data-rotate="-100" data-scale="0.15"></div>
            <div id="levelScreen_3" class="step level" data-x="1300" data-y="-100" data-rotate="100" data-scale="0.3"></div>
        </script>
        
        
        <script id="levelTemplate" type="text/template">
            <div class="wrapper">
                <div class="infoBar"><span class="message"></span> <div class="combo"></div></div>
                <div class="levelContent"></div>
                <div class="chrono">
                    <div class="message">Click, tap, or press 'space' precisely after 10 seconds</div>
                    <div class="countdown"></div>
                </div>
                <div class="levelStart">
                    <div class="infosContainer">
                        <div class="explanations"></div>
                        <div class="loading">Loading sounds...</div>
                        <div class="go button">Go !</div>
                    </div>
                    <div class="back">&lt;&lt; Exit</div>
                </div>
                <div class="levelEnd"></div>
            </div>
        </script>
        
        
        <script id="explanationTemplate" type="text/template">
            <div class="explanation <%= type %>"><%= message %></div>
        </script>
        
        
        <script id="levelIndexTemplate" type="text/template">
            <h1>Practice</h1>
            <ul id="levelIndex">
            </ul>
            <div class="gotoHome">&lt;&lt; Home</div>
            <div class="legend">
                <div class="average"></div>
                <div class="expl">average of your five last</div>
                <div class="best"></div>
                <div class="expl">your best</div>
            </div>
        </script>
        
        
        <script id="levelInList" type="text/template">
            <li class="levelItem" data-level="<%= name %>"><span class="title"><%= level.title %></span><div class="average"><%= level.meanScore %></div><div class="best"><%= level.bestScore %></div></li>
        </script>
        
        
        <script id="levelEndTemplate" type="text/template">
            <div class="endContainer">
                <% if (message) { %>
                    <%= message %>
                    <br />
                <% } %>
                Score : <%= score %>
                <% if (time !== false) { %>
                    <br />
                    <%= Math.abs(time) %> ms too <%= time > 0 ? 'early' : 'late' %>
                <% } %>
                <% if (!combo) { %>
                    <div class="button continue">Back to practice</div>
                <% } else if (combo.index < combo.total) { %>
                    <div class="prepare">Prepare for next level...</div>
                <% } %>
            </div>
        </script>
        
        
        <script id="comboEndTemplate" type="text/template">
            <div class="endContainer">
                END of COMBO !
                <br />
                Total score : <%= score %>
                <br />
                Total errors : <%= time %> ms
                <div class="gotoHome">&lt;&lt; Home</div>
            </div>
        </script>
        
        
        <script id="scoresTemplate" type="text/template">
            <h1>Scores</h1>
            <ul id="scoresList">
                <li><span class="name">You</span><div class="average"><%= yourScore.meanScore %></div><div class="best"><%= yourScore.bestScore %></div></li> 
            </ul>
            <div class="gotoHome">&lt;&lt; Home</div>
            <div class="legend">
                <div class="average"></div>
                <div class="expl">average of your five last</div>
                <div class="best"></div>
                <div class="expl">your best</div>
            </div>
        </script>
        
        <script id="testTemplate" type="text/template">
        </script>
    </div>
    
    
</body>
</html>
