<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>10 seconds Game</title>
    <script data-main="scripts/main" src="scripts/ext_libs/require.js"></script>
</head>
<body>
    
    <div id="game"></div>
    
    
    <div id="templates" style="display: none;">
        <script id="mainTemplate" type="text/template">
            <h1>10 seconds</h1>
            <div id="infoBar"></div>
            <div id="level"></div>
            <div id="chrono">
                <div class="message"></div>
                <div class="countdown"></div>
            </div>
            <div id="levelEnd"></div>
        </script>
        
        <script id="startPageTemplate" type="text/template">
            <h1 id="start">Start</h1>
        </script>
        
        <script id="levelIndexTemplate" type="text/template">
            <ul id="levelIndex">
            </ul>
        </script>
        
        <script id="levelInList" type="text/template">
            <li class="levelItem" data-level="<%= name %>"><%= title %></li>
        </script>
        
        <script id="testTemplate" type="text/template">
            <h1>My Test Level</h1>
            <button id="play">Hello</button>
        </script>
    </div>
    
    
</body>
</html>
