html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: 'The Girl Next Door', cursive;
  font-size: 30px;
}

body,
.level .levelEnd,
.level .levelStart{
  background: #23364E;
}

h1, h2{
  margin: 0;
}

#game{
  position: relative;
  margin: auto;
  width:  800px;
  height: 600px;
}




.infoBar{
  position: absolute;
  top:  0;
  left: 0;
  width: 100%;
  font-size: 0.8em;
  border-bottom: 1px solid #FFF;
  z-index: 10;
}

.infoBar .combo{
  position: absolute;
  right: 0;
  top:   0;
}


.button{
  cursor: pointer;
  border: 1px solid #FFF;
  text-align: center;
}

.button:hover{
  background: #346;
}




.main {
  text-align: center;
}

.credits{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0.5em;
}




#home .button,
.level .button,
.gotoHome{
  width: 10em;
  margin: 0.5em auto;
}

.gotoHome{
  clear: both;
}



#levelIndex li{
  float: left;
  width: 10em;
  margin: 2% 5%;
  list-style-type: none;
}











.level{
  position: relative;
}


.level .go{
  width: 4em;
  margin: auto;
}

.levelStart .back{
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left:   0;
}


.level .explanations{
  padding-bottom: 1em;
}

.level .chrono .message{
  position: absolute;
  bottom: 0;
  left:   0;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
}

.level .chrono .countdown{
  position: absolute;
  top: 30%;
  font-family: serif;
  font-size: 20px;
}

.level .chrono .countdown span{
  text-shadow: 0 0 0.15em rgba(255, 255, 255, 0.4);
  transition: text-shadow 1s;
}

.level .chrono .countdown span.new{
  text-shadow: 0 0 0.15em rgba(255, 255, 255, 1);
}

.level.bad_numbers .chrono .countdown span{
  font-family: 'Henny Penny', cursive;
}


.level .levelStart,
.level .levelEnd{
  position: absolute;
  width:  100%;
  height: 100%;
  top:    0;
  left:   0;
  text-align: center;
}

.level .levelEnd{
  display: none;
}