html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: 'Kranky', serif;
  font-size: 30px;
}

body,
.level .levelEnd,
.level .levelStart{
  background: #23364E;
}

.wrapper{
  width: 100%;
  height: 100%;
}


h1, h2{
  margin: 0;
}

#game{
  position: relative;
  margin: auto;
  width:  800px;
  height: 600px;
}



#help .play{
  display: none;
  width:  6em;
  padding: 0.5em;
  margin: auto;
  margin-bottom: 2em;
}

#help .expl{
  padding: 1em 0;
}

#help .please{
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 0.6em;
}


.infoBar{
  position: absolute;
  top:  0;
  left: 0;
  width: 100%;
  font-size: 0.8em;
  border-bottom: 1px solid #FFF;
  z-index: 10;
}

.infoBar .combo{
  position: absolute;
  right: 0;
  top:   0;
}


.button{
  cursor: pointer;
  border: 1px solid #FFF;
  text-align: center;
}

.button:hover{
  background: #355772;
}




.main {
  text-align: center;
}

.credits{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0.5em;
}


#levelIndex li,
.gotoHome,
.back,
.continue,
.button{
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
  transition: text-shadow 0.2s;
}

#levelIndex li:hover,
.gotoHome:hover,
.back:hover,
.continue:hover,
.button:hover{
  text-shadow: 0 0 1em rgba(255, 255, 255, 0.8);
  transition: text-shadow 0.3s;
}


#home .button,
.level .button{
  padding: 0.5em;
  width: 10em;
  margin: 0.5em auto;
}

#home .button{
  margin: 0.5em auto;
  padding: 0.2em;
}

.gotoHome{
  clear: both;
}

#levelIndex{
  font-size: 0.8em;
}



#scores li,
#levels li{
  text-align: left;
  float: left;
  list-style-type: none;
}

#levels li{
  width: 44%;
  margin: 0 5% 0.5em 0;
  line-height: 1.9em;
  cursor: pointer;
  border-radius: 1em;
  border: 1px solid transparent;
}

#levels li:hover{
  background: #355772;
  border: 1px solid #FFF;
}


#levels li .title{
  padding-left: 0.5em;
}

#scores .average,
#scores .best,
#levels .average,
#levels .best{
  font-size: 0.8em;
  float: right;
  border: 1px solid #FFF;
  margin-left: 0.5em;
  border-radius: 50%;
  width:       2.3em;
  height:      2.3em;
  line-height: 2.3em;
  text-align: center;
}


.best{
  background: #3782CE;
}

.average{
  background: #04182C;
}

.legend{
  font-size: 0.5em;
  position: absolute;
  bottom: 0;
  right: 0;
}

#levels .legend .expl,
#scores .legend .expl{
  line-height: 1.5em;
  padding: 0 1em 0 0.3em;
}

#levels .legend .average,
#levels .legend .best,
#levels .legend .expl,
#scores .legend .average,
#scores .legend .best,
#scores .legend .expl{
  float: left;
}



#scores li{
  width: 90%;
}

#scores .average,
#scores .best{
  font-size: 0.5em;
  width:       3em;
  height:      3em;
  line-height: 3em;
}


.step{
  opacity: 0;
  z-index: -1;
  transition: opacity 1s;
}

.step.active{
  z-index: 5;
  opacity: 1;
  transition: opacity 1s;
}

.level{
  position: relative;
}

.level .wrapper{
  background-color: transparent;
  transition: background-color 0.1s;
}

.level .started{
  background-color: #999;
  transition: background-color 0s;
}

.level .continue{
  font-size: 0.8em;
  margin-top: 1em;
}

.level .go{
  width: 4em;
  margin: auto;
}

.level .loading{
  display: none;
  font-size: 0.6em;
}

.levelStart .back, 
.gotoHome{
  cursor: pointer;
  position: absolute;
  bottom: 0;
  padding: 1.5em 1em 0 1em;
}




.level .explanations{
  padding-bottom: 1em;
}

.level .chrono .message{
  position: absolute;
  bottom: 0;
  left:   0;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
}

.level .chrono .countdown{
  position: absolute;
  top: 30%;
  font-family: serif;
  font-size: 20px;
}

.level .chrono .countdown span{
  text-shadow: 0 0 0.15em rgba(255, 255, 255, 0.4);
  transition: text-shadow 1s;
}

.level .chrono .countdown span.new{
  text-shadow: 0 0 0.15em rgba(255, 255, 255, 1);
}

.level.bad_numbers .chrono .countdown span{
  font-family: 'Henny Penny', cursive;
}


.level .levelStart,
.level .levelEnd{
  position: absolute;
  width:  100%;
  height: 100%;
  top:    0;
  left:   0;
  text-align: center;
}

.level .levelEnd{
  display: none;
}

.prepare{
  font-size: 0.6em;
  margin-top: 0.7em;
}